<div class="container outer-div">
    <div class="inner-div">
        <div class="heading-text">CARGOCLIX.COM</div>
        <div class="sub-heading-text border-div">CARGOCLIX SLOT Mobile App</div>
        <div class="border-div"> &nbsp;</div>
        <form role="form" class="form-inline">
            <div class="form-inline border-div">
                <input ng-model="$parent.phone_number" type="text" id="phone_number" placeholder="Login with telephone number" class="form-control login" />
                <a href="/booking-listing"><img src="../assets/images/arrow_right.png" /></a>
            </div>
            <div class="form-inline border-div">
                <input type="text" id="account" placeholder="Login with own account" class="form-control login" />
                <a href="javascript:void(0);"><img src="../assets/images/arrow_right.png" /></a>
            </div>
        </form>
    </div>
</div>
